.container {
	max-width: 400px;
	margin: 50px auto;
	padding: 32px;
	background: #313233;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

input {
	padding: 12px 16px;
	border: 1px solid #5c5c5c;
	border-radius: 4px;
	font-size: 16px;
	transition: border-color 0.3s;
	width: 100%;

	&:focus {
		outline: none;
		border-color: #757676;
	}
}
