.heroContent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
}

.heroPhoto {
	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
		border-radius: 8px;
		margin-bottom: 15px;
	}
}

.heroDetails {
	h2 {
		margin-top: 0;
	}
}

.heroFeatures {
	background-color: #313233;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 30px;
}

.feature {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.label {
	font-weight: 500;
}

.value {
	font-weight: 600;
}
