.controls {
	display: flex;
	justify-content: center; /* центрирует по горизонтали */
	align-items: center; /* центрирует по вертикали */
	gap: 8px; /* расстояние между лейблом и селектом */
	margin: 1rem 0;
}
