.details {
	h2 {
		margin-bottom: 20px;
	}
}

.features {
	background-color: #313233;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 30px;
}

.feature {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.label {
	font-weight: 500;
}

.value {
	font-weight: 600;
}
