.container {
	background-color: #313233;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;

	&:hover {
		background-color: #373839;
		transform: translateY(-5px);
	}
}

.locationInfo {
	padding: 20px;
}
